<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceInfoMapper">
    
    <resultMap type="DeviceInfo" id="DeviceInfoResult">
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="category"    column="category"    />
        <result property="spec"    column="spec"    />
        <result property="unit"    column="unit"    />
        <result property="registerNum"    column="register_num"    />
        <result property="minStock"    column="min_stock"    />
        <result property="totalStock"    column="total_stock"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDeviceInfoVo">
        select device_id, device_name, device_code, category, spec, unit, register_num, min_stock, total_stock, status, remark, create_by, create_time, update_by, update_time from tb_device_info
    </sql>

    <select id="selectDeviceInfoList" parameterType="DeviceInfo" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        <where>  
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceCode != null  and deviceCode != ''"> and device_code = #{deviceCode}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectDeviceInfoByDeviceId" parameterType="Long" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        where device_id = #{deviceId}
    </select>

    <insert id="insertDeviceInfo" parameterType="DeviceInfo" useGeneratedKeys="true" keyProperty="deviceId">
        insert into tb_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceCode != null and deviceCode != ''">device_code,</if>
            <if test="category != null">category,</if>
            <if test="spec != null">spec,</if>
            <if test="unit != null">unit,</if>
            <if test="registerNum != null">register_num,</if>
            <if test="minStock != null">min_stock,</if>
            <if test="totalStock != null">total_stock,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceCode != null and deviceCode != ''">#{deviceCode},</if>
            <if test="category != null">#{category},</if>
            <if test="spec != null">#{spec},</if>
            <if test="unit != null">#{unit},</if>
            <if test="registerNum != null">#{registerNum},</if>
            <if test="minStock != null">#{minStock},</if>
            <if test="totalStock != null">#{totalStock},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDeviceInfo" parameterType="DeviceInfo">
        update tb_device_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceCode != null and deviceCode != ''">device_code = #{deviceCode},</if>
            <if test="category != null">category = #{category},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="registerNum != null">register_num = #{registerNum},</if>
            <if test="minStock != null">min_stock = #{minStock},</if>
            <if test="totalStock != null">total_stock = #{totalStock},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceInfoByDeviceId" parameterType="Long">
        delete from tb_device_info where device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceInfoByDeviceIds" parameterType="String">
        delete from tb_device_info where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>