<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.InventoryBatchMapper">

    <resultMap type="InventoryBatch" id="InventoryBatchResult">
        <result property="batchId"    column="batch_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="batchNum"    column="batch_num"    />
        <result property="supplier"    column="supplier"    />
        <result property="inboundTime"    column="inbound_time"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="inboundQuantity"    column="inbound_quantity"    />
        <result property="currentQuantity"    column="current_quantity"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deviceName" column="device_name"/>
    </resultMap>

    <sql id="selectInventoryBatchVo">
        select b.batch_id, b.device_id, b.batch_num, b.supplier, b.inbound_time, b.expiry_date, b.inbound_quantity, b.current_quantity, b.status, b.remark, b.create_by, b.create_time, b.update_by, b.update_time, d.device_name
        from tb_inventory_batch b
                 left join tb_device_info d on b.device_id = d.device_id
    </sql>

<!--    <select id="selectInventoryBatchList" parameterType="InventoryBatch" resultMap="InventoryBatchResult">-->
<!--        <include refid="selectInventoryBatchVo"/>-->
<!--        <where>-->
<!--            <if test="deviceId != null "> and b.device_id = #{deviceId}</if>-->
<!--            <if test="batchNum != null  and batchNum != ''"> and b.batch_num = #{batchNum}</if>-->
<!--            <if test="supplier != null  and supplier != ''"> and b.supplier like concat('%', #{supplier}, '%')</if>-->
<!--            <if test="params.beginInboundTime != null and params.beginInboundTime != '' and params.endInboundTime != null and params.endInboundTime != ''"> and b.inbound_time between #{params.beginInboundTime} and #{params.endInboundTime}</if>-->
<!--            <if test="params.beginExpiryDate != null and params.beginExpiryDate != '' and params.endExpiryDate != null and params.endExpiryDate != ''"> and b.expiry_date between #{params.beginExpiryDate} and #{params.endExpiryDate}</if>-->
<!--            <if test="status != null  and status != ''"> and b.status = #{status}</if>-->
<!--        </where>-->
<!--        <order-by>b.inbound_time asc</order-by>-->
<!--    </select>-->

<!--    <select id="selectInventoryBatchList" parameterType="InventoryBatch" resultMap="InventoryBatchResult">-->
<!--        <include refid="selectInventoryBatchVo"/>-->
<!--        <where>-->
<!--            <if test="deviceId != null "> and b.device_id = #{deviceId}</if>-->
<!--            <if test="batchNum != null  and batchNum != ''"> and b.batch_num = #{batchNum}</if>-->
<!--            <if test="supplier != null  and supplier != ''"> and b.supplier like concat('%', #{supplier}, '%')</if>-->
<!--            <if test="params.beginInboundTime != null and params.beginInboundTime != '' and params.endInboundTime != null and params.endInboundTime != ''"> and b.inbound_time between #{params.beginInboundTime} and #{params.endInboundTime}</if>-->
<!--            <if test="params.beginExpiryDate != null and params.beginExpiryDate != '' and params.endExpiryDate != null and params.endExpiryDate != ''"> and b.expiry_date between #{params.beginExpiryDate} and #{params.endExpiryDate}</if>-->
<!--            <if test="status != null  and status != ''"> and b.status = #{status}</if>-->
<!--        </where>-->
<!--        order by b.inbound_time asc-->
<!--    </select>-->

    <select id="selectInventoryBatchList" parameterType="InventoryBatch" resultMap="InventoryBatchResult">
        <include refid="selectInventoryBatchVo"/>
        <where>
            <if test="deviceId != null "> and b.device_id = #{deviceId}</if>
            <if test="batchNum != null  and batchNum != ''"> and b.batch_num = #{batchNum}</if>
            <if test="supplier != null  and supplier != ''"> and b.supplier like concat('%', #{supplier}, '%')</if>
            <if test="params.beginInboundTime != null and params.beginInboundTime != '' and params.endInboundTime != null and params.endInboundTime != ''"> and b.inbound_time between #{params.beginInboundTime} and #{params.endInboundTime}</if>
            <if test="params.beginExpiryDate != null and params.beginExpiryDate != '' and params.endExpiryDate != null and params.endExpiryDate != ''"> and b.expiry_date between #{params.beginExpiryDate} and #{params.endExpiryDate}</if>
            <if test="status != null  and status != ''"> and b.status = #{status}</if>
        </where>
        order by b.inbound_time asc
    </select>

    <select id="selectInventoryBatchByBatchId" parameterType="Long" resultMap="InventoryBatchResult">
        <include refid="selectInventoryBatchVo"/>
        where b.batch_id = #{batchId}
    </select>

    <insert id="insertInventoryBatch" parameterType="InventoryBatch" useGeneratedKeys="true" keyProperty="batchId">
        insert into tb_inventory_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="batchNum != null">batch_num,</if>
            <if test="supplier != null and supplier != ''">supplier,</if>
            <if test="inboundTime != null">inbound_time,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="inboundQuantity != null">inbound_quantity,</if>
            <if test="currentQuantity != null">current_quantity,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="batchNum != null">#{batchNum},</if>
            <if test="supplier != null and supplier != ''">#{supplier},</if>
            <if test="inboundTime != null">#{inboundTime},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="inboundQuantity != null">#{inboundQuantity},</if>
            <if test="currentQuantity != null">#{currentQuantity},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateInventoryBatch" parameterType="InventoryBatch">
        update tb_inventory_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="batchNum != null">batch_num = #{batchNum},</if>
            <if test="supplier != null and supplier != ''">supplier = #{supplier},</if>
            <if test="inboundTime != null">inbound_time = #{inboundTime},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="inboundQuantity != null">inbound_quantity = #{inboundQuantity},</if>
            <if test="currentQuantity != null">current_quantity = #{currentQuantity},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where batch_id = #{batchId}
    </update>

    <delete id="deleteInventoryBatchByBatchId" parameterType="Long">
        delete from tb_inventory_batch where batch_id = #{batchId}
    </delete>

    <delete id="deleteInventoryBatchByBatchIds" parameterType="String">
        delete from tb_inventory_batch where batch_id in
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </delete>
</mapper>