<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.RequisitionApplyMapper">

    <resultMap type="RequisitionApply" id="RequisitionApplyResult">
        <result property="requisitionId"    column="requisition_id"    />
        <result property="requisitionCode"    column="requisition_code"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="requisitionQuantity"    column="requisition_quantity"    />
        <result property="requisitionStatus"    column="requisition_status"    />
        <result property="handlerBy"    column="handler_by"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deviceName" column="device_name"/>
    </resultMap>

    <sql id="selectRequisitionApplyVo">
        -- 【Key Change 2】: Added d.device_name and used table aliases
        select r.requisition_id, r.requisition_code, r.dept_id, r.device_id, r.requisition_quantity, r.requisition_status, r.handler_by, r.handle_time, r.remark, r.create_by, r.create_time, r.update_by, r.update_time, d.device_name
        -- 【Key Change 3】: Added LEFT JOIN to associate with tb_device_info
        from tb_requisition_apply r
                 left join tb_device_info d on r.device_id = d.device_id
    </sql>

    <select id="selectRequisitionApplyList" parameterType="RequisitionApply" resultMap="RequisitionApplyResult">
        <include refid="selectRequisitionApplyVo"/>
        <where>
            <if test="requisitionCode != null  and requisitionCode != ''"> and r.requisition_code = #{requisitionCode}</if>
            <if test="deptId != null "> and r.dept_id = #{deptId}</if>
            <if test="deviceId != null "> and r.device_id = #{deviceId}</if>
            <if test="requisitionStatus != null  and requisitionStatus != ''"> and r.requisition_status = #{requisitionStatus}</if>
            <if test="handlerBy != null  and handlerBy != ''"> and r.handler_by = #{handlerBy}</if>
            <if test="params.beginHandleTime != null and params.beginHandleTime != '' and params.endHandleTime != null and params.endHandleTime != ''"> and r.handle_time between #{params.beginHandleTime} and #{params.endHandleTime}</if>
            <if test="createBy != null  and createBy != ''"> and r.create_by = #{createBy}</if>
            <if test="createTime != null "> and r.create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectRequisitionApplyByRequisitionId" parameterType="Long" resultMap="RequisitionApplyResult">
        <include refid="selectRequisitionApplyVo"/>
        where r.requisition_id = #{requisitionId}
    </select>

    <insert id="insertRequisitionApply" parameterType="RequisitionApply" useGeneratedKeys="true" keyProperty="requisitionId">
        insert into tb_requisition_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requisitionCode != null">requisition_code,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="requisitionQuantity != null">requisition_quantity,</if>
            <if test="requisitionStatus != null">requisition_status,</if>
            <if test="handlerBy != null">handler_by,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requisitionCode != null">#{requisitionCode},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="requisitionQuantity != null">#{requisitionQuantity},</if>
            <if test="requisitionStatus != null">#{requisitionStatus},</if>
            <if test="handlerBy != null">#{handlerBy},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateRequisitionApply" parameterType="RequisitionApply">
        update tb_requisition_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="requisitionCode != null">requisition_code = #{requisitionCode},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="requisitionQuantity != null">requisition_quantity = #{requisitionQuantity},</if>
            <if test="requisitionStatus != null">requisition_status = #{requisitionStatus},</if>
            <if test="handlerBy != null">handler_by = #{handlerBy},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where requisition_id = #{requisitionId}
    </update>

    <delete id="deleteRequisitionApplyByRequisitionId" parameterType="Long">
        delete from tb_requisition_apply where requisition_id = #{requisitionId}
    </delete>

    <delete id="deleteRequisitionApplyByRequisitionIds" parameterType="String">
        delete from tb_requisition_apply where requisition_id in
        <foreach item="requisitionId" collection="array" open="(" separator="," close=")">
            #{requisitionId}
        </foreach>
    </delete>
</mapper>